<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css">
  <title>404 - Page Not Found</title>
</head>
<body>
  <header>
    <div class="header-container">
      <a class="logo" href="index.html">PythonPublisher</a>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="new/index.html">New Update</a></li>
          <li><a href="settings/index.html">Settings</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <h1>404 - Page Not Found</h1>
    <p>The requested page could not be found.</p>
  </main>

</body>
</html>