<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css">
  <title>500 - Internal Server Error</title>
</head>
<body>
  <header>
    <div class="header-container">
      <a class="logo" href="index.html">PythonPublisher</a>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="new/index.html">New Update</a></li>
          <li><a href="settings/index.html">Settings</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <h1>500 - Internal Server Error</h1>
    <p>This usually happens on programming errors or if the server is overloaded.</p>
  </main>
  
</body>
</html>